/*******************************************************************************
    Tutorial
*******************************************************************************/
.pnt-tutorial-icon,
.pnt-tutorial-icon .material-icons{
    font-size: 250px;
    line-height: 170px;
}


.pnt-tutorial-close-btn {
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    color: #0da6ec;
}

.welcomescreen-container .swiper-slide {
    background: #009688;    
}

.welcomescreen-text {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
}


.swiper-container, title {
    font-family: 'Pacifico', cursive;
}


.swiper-slide {
    background: none;
}


.pregunta {
    font-size: 40px;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: #fff;
}

.azul
{
    color: #3498DB;
}

.rojo
{
    color: #E74C3C;
}

.verde i
{
    color: #82BF56;
}

.amarillo
{
    color: #F2CF66;
}

.gris {
    color: #009688;
}

.acciones-pregunta {
    position: fixed;
    bottom: 50px;
    width: 100%;
    text-align: right;
}

.acciones-pregunta .material-icons {
    font-size: 50px;
}

.contenedor-pregunta {
    height: 80vh;
}

.action-button
{
    position: relative;
    padding: 10px 10px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #FFF;
    text-decoration: none;	
}

.action-button .material-icons {
    font-size: 50px;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


.navbar.theme-teal, .searchbar.theme-teal, .subnavbar.theme-teal, .theme-teal .navbar, .theme-teal .searchbar, .theme-teal .subnavbar, .theme-teal .toolbar, .toolbar.theme-teal {
    background: none;
}

.toolbar.toolbar-bottom.toolbar-preguntio {
    background: none;
    /*background-color: rgba(255,255,255,0.1);*/    
    height: 90px;
}

.toolbar.toolbar-bottom.toolbar-preguntio .toolbar-inner {
    padding: 0 20px;
}

a.action-button.white
{
    color: #FFF;
}

a.action-button.grey {
    color: #222;
    text-shadow: 0px 0px #D1B358;
}

.page-content {
    background-color: #B71427;
}
