/*******************************************************************************
    Tutorial
*******************************************************************************/
.pnt-tutorial-icon,
.pnt-tutorial-icon .material-icons{
    font-size: 250px;
    line-height: 170px;
}


.pnt-tutorial-close-btn {
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    color: #0da6ec;
}

.welcomescreen-container .swiper-slide {
    background: #009688;    
}

.welcomescreen-text {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
}

/*******************************************************************************
    Swiper de preguntas
*******************************************************************************/

.swiper-container, title {
    font-family: 'Pacifico', cursive;
}


.swiper-slide {
    background: none;
}

.pregunta {
    font-size: 40px;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: #fff;
}

.contenedor-pregunta {
    height: 80vh;
}


.navbar.theme-teal, .searchbar.theme-teal, .subnavbar.theme-teal, .theme-teal .navbar, .theme-teal .searchbar, .theme-teal .subnavbar, .theme-teal .toolbar, .toolbar.theme-teal {
    background-color: #B71427;
}

.swiper-container-preguntas,
.contenedor-preguntas{
    background-color: #B71427;
}

/*******************************************************************************
   Toolbar Bottom
*******************************************************************************/

a.action-button.white
{
    color: #FFF;
}

a.action-button.grey {
    color: #d42f42;
}
.action-button
{
    position: relative;
    padding: 10px 10px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #FFF;
    text-decoration: none;	
}

.action-button .material-icons {
    font-size: 50px;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}