/*******************************************************************************
    Tutorial
*******************************************************************************/
.pnt-tutorial-icon,
.pnt-tutorial-icon .material-icons{
    font-size: 250px;
    line-height: 170px;
}


.pnt-tutorial-close-btn {
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    color: #0da6ec;
}

.welcomescreen-container .swiper-slide {
    background: #009688;    
}

.welcomescreen-text {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
}


.swiper-container, title {
    font-family: 'Pacifico', cursive;
}


.swiper-slide {
    background: white;
}


.pregunta {
    font-size: 40px;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.azul
{
    color: #3498DB;
}

.rojo
{
    color: #E74C3C;
}

.verde i
{
    color: #82BF56;
}

.amarillo
{
    color: #F2CF66;
}

.gris {
    color: #009688;
}

.acciones-pregunta {
    position: fixed;
    bottom: 50px;
    width: 100%;
    text-align: right;
}

.acciones-pregunta .material-icons {
    font-size: 50px;
}

.contenedor-pregunta {
    height: 80vh;
}